/* src/components/MoreRecipe.css */

.more-recipes-section {
    
    background-color: #fff;
    padding-bottom: 144px;
    padding-inline: 9.5%;
}
  
.more-recipes-section h2 {
    font-size: 48px;
    font-weight: 600;
    background-color: #E4A951;
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 72px;
}
  
.recipes-gallary {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    flex-wrap: wrap;
}
  
.more-recipes-gallary {
    flex: 1;
    max-width: 280px;
    height: auto;
    text-align: center;
}
  
.recipes-gallary-image {
    width: 200px;
    height: auto;
    border-radius: 16px 16px 0px 0px;
    margin-top: 15px;
}
  
.more-recipes-gallary p {
    font-size: 32px;
    font-weight: 500;
}