

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.primary_button {
  background-color: #E4A951;
  border-radius: 19px;
  border: none;
  padding-inline:17px;
  padding-block: 14px;
  font-size: 30px;
  font-weight:500px !important;
  color: black;
}

.hoverable-component:hover {
  transform: scale(1.05);
  cursor: pointer;
}




